# Dependencies
node_modules/
.pnp
.pnp.js

# Production build outputs
dist/
dist-ssr/
build/
*.local

# SQLite local databases & uploads
data/*.db
data/*.db-shm
data/*.db-wal
!data/.gitkeep
uploads/*
!uploads/.gitkeep

# Environment variables & credentials
.env
.env.*
!.env.example

# Logs & diagnostics
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS & Editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
